.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input[type="text"],
.form select {
  background-color: transparent;
  border-radius: 1rem;
  border: 0.3rem solid var(--white);
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1rem;
}

.form select option {
  color: black;
}

.field ::placeholder {
  color: var(--white);
}

.submit {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
}