.title {
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.container {
  align-items: center;
  display: grid;
  gap: 4rem;
  margin: 0 auto;
  max-width: 100rem;
  width: 95%;
}

@media (width >= 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}